# Environment variables
.env
.env.local
.env.development
.env.production

# Python
__pycache__/
*.pyc
venv/
.env/

# Node / React
node_modules/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
