body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.header {
  background: linear-gradient(90deg, #2563eb, #4f46e5);
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.video-card {
  flex: 3;
  background: black;
  border-radius: 12px;
  padding: 10px;
}

.video-container {
  position: relative;
}

video {
  width: 100%;
  border-radius: 10px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 30px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

.control-card {
  flex: 1;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background: #6366f1;
}
